<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"standard-page","layout":{"type":"default"}} -->
<main class="wp-block-group standard-page">

    <!-- wp:group {"className":"standard-page-intro","layout":{"type":"constrained"}} -->
    <div class="wp-block-group standard-page-intro">

        <!-- wp:post-title {"level":1,"className":"standard-page-title"} /-->

      <!-- wp:post-excerpt {"className":"standard-page-subheading"} /-->

    </div>
    <!-- /wp:group -->
    <!-- wp:post-terms {"term":"post_tag","className":"tech-stack"} /-->

    <!-- wp:post-featured-image {"align":"full","className":"standard-page-featured-image"} /-->

    <!-- wp:group {"className":"standard-page-content","layout":{"type":"constrained"}} -->
    <div class="wp-block-group standard-page-content">

        <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

    </div>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->